# OS junk
.DS_Store
Thumbs.db

# STM32CubeIDE / Eclipse
.metadata/
.settings/
*.launch

# Build outputs (CubeIDE)
Debug/
Release/
**/Debug/
**/Release/
*.o
*.d
*.su
*.cyclo
*.elf
*.map
*.list
*.hex
*.bin

# Keil / MDK-ARM build outputs
MDK-ARM/**/Objects/
MDK-ARM/**/Listings/
MDK-ARM/**/*.o
MDK-ARM/**/*.d
MDK-ARM/**/*.axf
MDK-ARM/**/*.hex
MDK-ARM/**/*.map
MDK-ARM/**/*.lst
MDK-ARM/**/*build_log*
MDK-ARM/**/.dep/
